$enable-navbar: {{ .Param "enableNavbar" }};

$title-font: {{ .Site.Data.font.title_font }};
$code-font: {{ .Site.Data.font.code_font }};
$content-font: {{ .Site.Data.font.content_font }};

$ac: {{ .Site.Data.color.ac }};
$ac-dark: {{ .Site.Data.color.ac_dark }};
$ac-light: {{ .Site.Data.color.ac_light }};

$dark-main: {{ .Site.Data.color.dark_main }};
$dark-nav: {{ .Site.Data.color.dark_nav }};
$dark-bg: {{ .Site.Data.color.dark }};
$dark-fg: {{ .Site.Data.color.light }};

$light-main: {{ .Site.Data.color.light_main }};
$light-nav: {{ .Site.Data.color.light_nav }};
$light-bg: {{ .Site.Data.color.light }};
$light-fg: {{ .Site.Data.color.dark }};


@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'syntax/syntax';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/animation';

@import 'components/menu';
@import 'components/toc';
@import 'components/search';
@import 'components/dropdown';
@import 'components/drawer';
@import 'components/modal';
@import 'components/language';
@import 'components/breadcrumb';
@import 'components/pagination';
@import 'components/button';
@import 'components/summary';
@import 'components/expand';
@import 'components/bgcolor';
@import 'components/tag';
@import 'components/section';
@import 'components/lib';
@import 'components/switch';

@import 'layout/grid';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/navbar';

@import 'shortcode/notice';
@import 'shortcode/placeholder';

@import '404';
@import 'logo';
@import 'pages/home';
@import 'pages/single';
@import 'pages/list';
@import 'pages/blog';
