$dark: (
  link: $ac,
  link-hover: $ac,
  body-color: rgba($dark-fg, .8),
  hr-color: $dark-bg,
  title-color: lighten($dark-bg, 70%),
  subtitle-color: lighten($dark-bg, 50%),
  border-line-color: $dark-bg,
  active-font-color: $ac,
  body-background-color: $dark-main,
  back-background-color: lighten($dark-main, 3%),
  navbar-background-color: $dark-nav,
  navbar-hover-background-color: rgba($ac, 0.4),
  navbar-logo-color: $ac,
  navbar-menu-color: $dark-fg,
  navbar-icon-color: $dark-fg,
  search-border-active-color: $ac,
  search-border-outline-color: rgba($ac, 0.6),
  search-background-color: lighten($dark-bg, 10%),
  search-placeholder-color: $dark-fg,
  search-content-background-color: lighten($dark-bg, 5%),
  search-hover-background-color: lighten($dark-bg, 20%),
  search-hover-border-color: $dark-bg,
  search-border-color: $dark-bg,
  search-highdark-color: $ac,
  custom-scrollbar-foreground-color: lighten($dark-bg, 20%),
  custom-scrollbar-background-color: lighten($dark-bg, 50%),
  dropdown-hover-background-color: $dark-bg,
  dropdown-background-color: lighten($dark-nav, 20%),
  dropdown-item-active-background-color: $dark-nav,
  menu-arrow-color: $ac,
  menu-index-color: lighten($dark-bg, 50%),
  menu-index-color-1: lighten($dark-bg, 45%),
  menu-index-color-2: lighten($dark-bg, 40%),
  menu-index-color-3: lighten($dark-bg, 35%),
  menu-index-color-4: lighten($dark-bg, 30%),
  menu-index-color-5: lighten($dark-bg, 25%),
  pagination-color: $ac,
  toc-color: lighten($dark-bg, 50%),
  toc-label-color: $ac,
  banner-background-color: lighten($dark-main, 3%),
  landing-button-primary: $ac,
  landing-button-default: $dark-fg,
  pagination-link-color: $ac-light,
  pagination-disabled-color: lighten($dark-bg, 50%),
  pagination-number-color: $dark-fg,
  breadcrumb-background-color: $dark-nav,
  breadcrumb-item-color: $ac,
  single-hr-background-color: lighten($dark-bg, 50%),
  single-blockquote-border-color: $dark-fg,
  single-contents-title-color: $dark-fg,
  single-header-title-background-color: lighten($dark-main, 3%),
  single-contents-subtitle-color: $dark-fg,
  expand-background-color: lighten($dark-bg, 2%),
  expand-background-color-hover: $dark-bg,
  tag-num-background-color: lighten($dark-bg, 50%),
  tag-text-background-color: lighten($dark-bg, 50%),
);
