$light: (
  link: $ac,
  link-hover: $ac,
  body-color: rgba($light-fg, .8),
  hr-color: $light-bg,
  title-color: darken($light-bg, 70%),
  subtitle-color: darken($light-bg, 50%),
  border-line-color: darken($light-bg, 30%),
  active-font-color: $ac,
  body-background-color: $light-main,
  back-background-color: darken($light-main, 5%),
  navbar-background-color: $light-nav,
  navbar-hover-background-color: rgba($ac, 0.4),
  navbar-logo-color: $ac,
  navbar-menu-color: $light-fg,
  navbar-icon-color: $light-fg,
  search-border-active-color: $ac,
  search-border-outline-color: rgba($ac, 0.6),
  search-background-color: darken($light-bg, 5%),
  search-placeholder-color: $light-fg,
  search-content-background-color: darken($light-bg, 5%),
  search-hover-background-color: darken($light-bg, 20%),
  search-hover-border-color: $light-bg,
  search-border-color: $light-bg,
  search-highlight-color: $ac,
  custom-scrollbar-foreground-color: darken($light-bg, 20%),
  custom-scrollbar-background-color: darken($light-bg, 50%),
  dropdown-hover-background-color: $light-bg,
  dropdown-background-color: darken($light-nav, 20%),
  dropdown-item-active-background-color: $light-nav,
  menu-arrow-color: $ac,
  menu-index-color: darken($light-bg, 50%),
  menu-index-color-1: darken($light-bg, 45%),
  menu-index-color-2: darken($light-bg, 40%),
  menu-index-color-3: darken($light-bg, 35%),
  menu-index-color-4: darken($light-bg, 30%),
  pagination-color: $ac,
  toc-color: darken($light-bg, 50%),
  toc-label-color: $ac,
  banner-background-color: darken($light-main, 5%),
  landing-button-primary: $ac,
  landing-button-default: $light-fg,
  pagination-link-color: $ac-dark,
  pagination-disabled-color: darken($light-bg, 50%),
  pagination-number-color: $light-fg,
  breadcrumb-background-color: $light-nav,
  breadcrumb-item-color: $ac,
  single-hr-background-color: darken($light-bg, 50%),
  single-blockquote-border-color: $light-fg,
  single-contents-title-color: $light-fg,
  single-header-title-background-color: darken($light-main, 5%),
  single-contents-subtitle-color: $light-fg,
  expand-background-color: darken($light-bg, 2%),
  expand-background-color-hover: $light-bg,
  tag-num-background-color: darken($light-bg, 50%),
  tag-text-background-color: darken($light-bg, 50%),
);
